<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <title>داده ها</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
        integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous" />
    <link href="https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.fontcdn.ir/Font/Persian/Samim/Samim.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css" rel="stylesheet" type="text/css" />
    <link href="../styles/home.css" rel="stylesheet" type="text/css" />
    <link href="../styles/dataTable.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="../assets/blue_favicon/favicon.ico" />
</head>

<body>
    <div class="desktop-custom">
        <nav class="navbar fixed-top shadow">
            <a class="navbar-brand" href="./home.html">
                <img src="../assets/blue_logo_croped.png" alt="" loading="lazy" />
            </a>
            <a class="nav-link" href="./home.html">خانه</a>
            <a class="nav-link active" href="./dataTable.html">داده‌ها</a>
            <div class="navbar-btns ml-auto">
                <button class="btn btn-outline-primary">ورود</button>
                <button class="btn btn-primary">ثبت‌نام</button>
            </div>
        </nav>
        <div class="container-fluid" style="height: 100%">
            <nav class="bg-primary text-light sidebar">
                <h3 class="flex-column navbar-brand">اعضای تیم</h3>
                <ul class="flex-column">
                    <li>ابوالفضل اسد</li>
                    <li>علیرضا ضیائی</li>
                </ul>
            </nav>
            <div style="
            padding-right: 300px;
            padding-top: 100px;
            overflow-y: auto;
            height: 100%;
          ">
                <table class="table table-bordered text-center text-white">
                    <thead>
                        <tr>
                            <th scope="col">رتبه</th>
                            <th scope="col">نام تیم</th>
                            <th scope="col">نام دانشگاه و کشور</th>
                            <th scope="col">امتیاز</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <div id="table-btns" class="d-flex justify-content-between ">
                    <button class="btn btn-outline-primary">
                        قبلی
                    </button>
                    <button class="btn btn-outline-primary">
                        بعدی
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="mobile-custom">
        <nav class="navbar fixed-top shadow">
            <a class="navbar-brand" href="./home.html">
                <img src="../assets/blue_logo_croped.png" alt="" loading="lazy" />
            </a>
            <span class="navbar-toggler-icon"></span>
        </nav>

        <div class="container-fluid" style="height: 100%">
            <nav class="bg-primary text-light sidebar invisible">
                <h3 class="flex-column navbar-brand">اعضای تیم</h3>
                <ul class="flex-column">
                    <li>ابوالفضل اسد</li>
                    <li>علیرضا ضیائی</li>
                </ul>
            </nav>
            <div style="padding-top: 100px; padding-bottom: 100px; overflow-y: auto">
                <div class="card">
                    <div class="card-body font-weight-bold">
                        <div class="d-flex justify-content-between">
                            <p class="card-text">رتبه</p>
                            <p class="card-text card-data">13</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام تیم</p>
                            <p class="card-text  card-data">نام تیم</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام دانشگاه و کشور</p>
                            <p class="card-text card-data">نام دانشگاه و کشور</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">امتیاز</p>
                            <p class="card-text card-data">2700</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body font-weight-bold">
                        <div class="d-flex justify-content-between">
                            <p class="card-text">رتبه</p>
                            <p class="card-text card-data">13</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام تیم</p>
                            <p class="card-text  card-data">نام تیم</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام دانشگاه و کشور</p>
                            <p class="card-text card-data">نام دانشگاه و کشور</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">امتیاز</p>
                            <p class="card-text card-data">2700</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body font-weight-bold">
                        <div class="d-flex justify-content-between">
                            <p class="card-text">رتبه</p>
                            <p class="card-text card-data">13</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام تیم</p>
                            <p class="card-text  card-data">نام تیم</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام دانشگاه و کشور</p>
                            <p class="card-text card-data">نام دانشگاه و کشور</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">امتیاز</p>
                            <p class="card-text card-data">2700</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body font-weight-bold">
                        <div class="d-flex justify-content-between">
                            <p class="card-text">رتبه</p>
                            <p class="card-text card-data">13</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام تیم</p>
                            <p class="card-text  card-data">نام تیم</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام دانشگاه و کشور</p>
                            <p class="card-text card-data">نام دانشگاه و کشور</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">امتیاز</p>
                            <p class="card-text card-data">2700</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body font-weight-bold">
                        <div class="d-flex justify-content-between">
                            <p class="card-text">رتبه</p>
                            <p class="card-text card-data">13</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام تیم</p>
                            <p class="card-text  card-data">نام تیم</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام دانشگاه و کشور</p>
                            <p class="card-text card-data">نام دانشگاه و کشور</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">امتیاز</p>
                            <p class="card-text card-data">2700</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body font-weight-bold">
                        <div class="d-flex justify-content-between">
                            <p class="card-text">رتبه</p>
                            <p class="card-text card-data">13</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام تیم</p>
                            <p class="card-text  card-data">نام تیم</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">نام دانشگاه و کشور</p>
                            <p class="card-text card-data">نام دانشگاه و کشور</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">امتیاز</p>
                            <p class="card-text card-data">2700</p>
                        </div>
                    </div>
                </div>
                <div id="table-btns" class="d-flex justify-content-between ">
                    <button class="btn btn-outline-primary">
                        قبلی
                    </button>
                    <button class="btn btn-outline-primary">
                        بعدی
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar fixed-bottom shadow d-flex justify-content-center" style="padding: 10px">
            <a class="flex-fill nav-link active text-center" href="#">خانه</a>
            <a class="flex-fill nav-link text-center" href="./dataTable.html">داده‌ها</a>
            <a class="flex-fill nav-link text-center" href="#">ورود</a>
            <a class="flex-fill nav-link text-center" href="#">ثبت‌نام</a>
        </nav>
    </div>



    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
        integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k"
        crossorigin="anonymous"></script>
</body>

</html>