<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
  <title>خانه</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
    integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous" />
  <link href="https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.fontcdn.ir/Font/Persian/Samim/Samim.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css" rel="stylesheet" type="text/css" />
  <link href="../styles/home.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/x-icon" href="../assets/blue_favicon/favicon.ico" />
</head>

<body>
  <!-- desktop version -->
  <div class="desktop-custom">
    <nav class="navbar fixed-top shadow">
      <a class="navbar-brand" href="./home.html">
        <img src="../assets/blue_logo_croped.png" alt="" loading="lazy" />
      </a>
      <a class="nav-link active" href="./home.html">خانه</a>
      <a class="nav-link" href="./dataTable.html">داده‌ها</a>
      <div class="navbar-btns ml-auto">
        <a class="btn btn-outline-primary" href="./register.html#signin">ورود</a>
        <a class="btn btn-primary" href="./register.html">ثبت‌نام</a>
      </div>
    </nav>

    <div class="container-fluid d-flex justify-content-center">
      <nav class="bg-primary text-light sidebar">
        <h3 class="navbar-brand">اعضای تیم</h3>
        <ul>
          <li>ابوالفضل اسد</li>
          <li>علیرضا ضیائی</li>
        </ul>
      </nav>

      <div class="desktop-container d-flex flex-wrap">
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>

  <!-- mobile version -->
  <div class="mobile-custom">
    <nav class="navbar fixed-top shadow d-flex">
      <a class="navbar-brand" href="./home.html">
        <img src="../assets/blue_logo_croped.png" alt="" loading="lazy" />
      </a>
      <button id="mobile-toggle-btn" class="btn text-primary ml-auto" onclick="toggleNav()">
        &#9776;
      </button>
    </nav>

    <div class="container-fluid" style="height: 100%">
      <nav class="bg-primary text-light sidebar" id="mobile-sidenav">
        <h3 class="navbar-brand">اعضای تیم</h3>
        <ul class="flex-column">
          <li>ابوالفضل اسد</li>
          <li>علیرضا ضیائی</li>
        </ul>
      </nav>
      <div class="mobile-container d-flex flex-wrap">
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="card my-3">
            <img src="http://placehold.it/560x560" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">text</p>
              <button class="btn btn-primary" type="button">Button</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar fixed-bottom shadow d-flex justify-content-center">
      <a class="flex-fill nav-link active text-center" href="#">خانه</a>
      <a class="flex-fill nav-link text-center" href="#">داده‌ها</a>
      <a class="flex-fill nav-link text-center" href="#">ورود</a>
      <a class="flex-fill nav-link text-center" href="#">ثبت‌نام</a>
    </nav>
  </div>

  <script>
    function toggleNav() {
      if (
        document.getElementById("mobile-sidenav").style.display === "block"
      ) {
        document.getElementById("mobile-sidenav").style.display = "none";
        document.getElementById("mobile-toggle-btn").innerHTML = "&#9776;";
      } else {
        document.getElementById("mobile-sidenav").style.display = "block";
        document.getElementById("mobile-toggle-btn").innerHTML = "X";
      }
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
    integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k"
    crossorigin="anonymous"></script>
</body>

</html>