* {
  font-family: Sahel, Samim, Shabnam;
}

header {
  background-color: #e8eff7;
  color: #2673aa;
}

.navbar-nav li:hover  {
  border-bottom: 4px solid #186aa5;
}

.navbar-nav li {
  padding: 15px;
}

.navbar {
  padding: 0px;
}

.navbar-brand img {
  max-width: 60%;
  height: auto;
}

.navbar-collapse {
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  max-height: max-content;
}

.navbar-btns {
  margin-right: 60%;
}

.navbar-btns button {
  margin: 10px;
  width: 100px;
  height: auto;
  border-radius: 0;
}
